* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(59, 59, 57);
  font-family: "Raleway", sans-serif;
  position: relative;
  /* padding-bottom: 2000px; */
}

.background-ornament {
  width: 100%;
  /* border: 2px solid blue; */
  position: relative;
}

.circle3 {
  position: absolute;
  z-index: -1;
  top: 500px;
}

.box3 {
  position: absolute;
  right: -100px;
  z-index: -1;
  top: 150px;
}

.circle2-fill {
  position: absolute;
  z-index: -1;
  top: 200px;
  left: 100px;
}

.circle2-outline {
  position: absolute;
  z-index: -1;
  top: 560px;
  right: 200px;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #ffffff #91918d;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-track {
  background: #91918d;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 10px;
  border: 2px solid #ffffff;
}

@media (max-width: 576px) {
  .circle3 {
    position: absolute;
    z-index: -1;
    top: 500px;
    left: -200px;
  }

  .box3 {
    position: absolute;
    right: -300px;
    z-index: -1;
    top: 150px;
  }

  .circle2-fill {
    position: absolute;
    z-index: -1;
    top: 200px;
    left: -50px;
  }

  .circle2-outline {
    position: absolute;
    z-index: -1;
    top: 560px;
    right: -50px;
  }
}

@media (min-width: 768px) {
  .circle3 {
    position: absolute;
    z-index: -1;
    top: 500px;
    left: -100px;
  }

  .box3 {
    position: absolute;
    right: -100px;
    z-index: -1;
    top: 150px;
  }

  .circle2-fill {
    position: absolute;
    z-index: -1;
    top: 200px;
    left: 40px;
  }

  .circle2-outline {
    position: absolute;
    z-index: -1;
    top: 560px;
    right: -20px;
  }
}
@media (min-width: 992px) {
  .circle3 {
    position: absolute;
    z-index: -1;
    top: 500px;
    left: 0px;
  }

  .box3 {
    position: absolute;
    right: -100px;
    z-index: -1;
    top: 150px;
  }

  .circle2-fill {
    position: absolute;
    z-index: -1;
    top: 200px;
    left: 60px;
  }

  .circle2-outline {
    position: absolute;
    z-index: -1;
    top: 560px;
    right: 60px;
  }
}
@media (min-width: 1200px) {
  .circle3 {
    position: absolute;
    z-index: -1;
    top: 500px;
    left: 0px;
  }

  .box3 {
    position: absolute;
    right: 0px;
    z-index: -1;
    top: 150px;
  }

  .circle2-fill {
    position: absolute;
    z-index: -1;
    top: 200px;
    left: 100px;
  }

  .circle2-outline {
    position: absolute;
    z-index: -1;
    top: 560px;
    right: 100px;
  }
}
@media (min-width: 1400px) {
  .circle3 {
    position: absolute;
    z-index: -1;
    top: 500px;
    left: 0px;
  }

  .box3 {
    position: absolute;
    right: 0px;
    z-index: -1;
    top: 150px;
  }

  .circle2-fill {
    position: absolute;
    z-index: -1;
    top: 200px;
    left: 100px;
  }

  .circle2-outline {
    position: absolute;
    z-index: -1;
    top: 600px;
    right: 200px;
  }
}
